* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #1E1E2E;
}

.about {
    background-color: #F8F9FA;
}

.projects {
    background-color: #4C86F9;
}

.skills {
    background-color: #E63946;
}

.contact {
    background-color: #2ECC71;
}

footer {
    background-color: #FDCB58;
}

/* L'affichage en dessous de 600px de largeur */
@media screen and (max-width:600px) {}